@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    --black: #000000;
    --white: #ffffff;
    --primary-color:#FFFFC8;
    --font-weight:500;
    --secondary-color:#1c1c1c;
    --transition:0.3s;

  }
h1,h2,h3 {
    font-family: 'Space Grotesk', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    font-weight: 500;
    line-height: 36px;
    font-size: 24px;
    margin: 0;
}

button.start-learning {
    background: var(--black);
    color: var(--primary-color);
    text-transform: capitalize;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.12);
    letter-spacing: 0.01em;
    padding: 16px 60px 16px 60px;
    font-size:1.2rem;
    border-radius: 6px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: var(--font-weight);
    border: 1px solid var(--black);
}
button.start-learning:hover{
    background: var(--white);
    border:1px solid var(--black);
    transition: 0.4s;
    color:var(--black);
}
.mb-login{
    margin-bottom: 20rem;
}
footer {
    background: #1c1c1c;
    padding: 40px 0;
}

.footer span {
    color: var(--primary-color);
    font-weight: 500;
    line-height: 36px;
    font-size: 24px;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}

.footer-top {
    display: flex;
    align-items: center;
}

/* .footer-link {
    display: flex;
    margin-left: 10px;
} */

.footer-link a {
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 90px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

/* =============   Login CSS   =========== */

/* .login-area {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 60px 20px;
} */

.login-area h1 {
    font-size: 72px;
    line-height: 92px;
    margin-bottom: 32px;
    text-align: center;
    font-weight: 700;
    color:var(--black);
}

.login-area span {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    display: block;
    font-family: 'Inter', sans-serif;
    margin-bottom: 60px;
}


.login-option button {
    background: var(--white);
    padding: 13px 0;
    text-align: center;
    display: block;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Space Grotesk', sans-serif;
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    margin-bottom: 24px;
    font-weight: 500;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.07);
}
.login-option button:hover{
    background-color: var(--black);
    color:var(--white);
    transition: var(--transition);

}



.login-option {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    margin-bottom: 32px;
}
.login-option button img {
    margin-right: 5px;
}

.login-area form label {
    color: #686868;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.login-field input {
    background: #F6F6F6;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Inter', sans-serif;
    padding: 16px 16px;
    border-radius: 6px;
    border: none;
    margin-bottom: 32px;
    font-weight: 500;
}

.login-field input[type="email"] {
    padding-left: 48px;
    display: block;
    width: 100%;
}
.login-field {
    position: relative;
}

.login-field img {
    position: absolute;
    top: 48px;
    left: 17px;
}

button.login-m {
    background:var(--secondary-color);
    display: block;
    width: 100%;
    border-radius: 6px;
    color: var(--primary-color);
    font-size: 18px;
    line-height: 27px;
    font-family: 'Inter', sans-serif;
    padding: 14px 20px;
    border:1px solid var(--secondary-color);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.12);
}
button.login-m:hover{
    background-color: var(--white);
    color:var(--black);
    border:1px solid var(--black);
    transition:var(--transition);
}
.social-icon{
    display: flex;
    gap:30px;
}
.form-control:focus{
    border:1px solid var(--secondary-color);
    box-shadow: none;
}

