@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

h1,
h2,
h3 {
    font-family: 'Space Grotesk', sans-serif;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 123px;
}

h1 {
    font-weight: 500;
    line-height: 36px;
    font-size: 24px;
    margin: 0;
}

header button {
    height: 60px;
    width: 180px;
    border-radius: 6px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    background: #fff;
    border: 1px solid #000;
}

button.start-learning {
    background: #000;
    color: #FFFFC8;
    text-transform: capitalize;
    margin-left: 26px;
}

footer {
    background: #1c1c1c;
    padding: 40px 0;
}

.footer span {
    color: #FFFFC8;
    font-weight: 500;
    line-height: 36px;
    font-size: 24px;
    margin: 0;
}

.footer-top {
    display: flex;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif !important;   
}

.footer-link {
    display: flex;
    margin-left: 10px;
}

.footer-link a {
    color: #FFFFC8;
    text-decoration: none;
    margin-left: 90px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
}
.social-icon {
    display: flex;
    gap: 30px;
}

/* =============   Membership CSS   =========== */

.membership-area {
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.membership-plan {
    background: #1C1C1C;
    border-radius: 12px;
    padding: 60px;
    max-width: 460px;
    width: 100%;
}

.Sign {
    border-radius: 12px;
    padding: 40px;
    margin-bottom: 10%;
    font-family:  'Space Grotesk', sans-serif;
}

.membership-plan2 {
    background: #FFFFC8;
    border-radius: 12px;
    padding: 60px;
    max-width: 460px;
    width: 100%;
}

.toggle-membership h3 {
    color: #fff;
}

.membership-plan h3 {
    color: #fff;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 12px;
}

.membership-plan2 h3 {
    color: #1C1C1C;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 12px;
}

.saave {
    color: #FFFFC8;
    text-align: center;
    font-weight: 500;
    margin-bottom: 15%;
    font-family: 'Inter', sans-serif !important;
}

.saave2 {
    color: #1C1C1C ;
    text-align: center;
    margin-bottom: 15%;
    font-weight: 500;
    margin-bottom: 15%;
    font-family: 'Inter', sans-serif !important;
}

.heading {
    color: rgb(221, 216, 216);
    font-size: 15px;
    font-family: 'Inter', sans-serif !important;
    padding:0px 5px;
}

.heading2 {
    color: #1C1C1C;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

.membership-plan h6 {
    color: #FFFFC8;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 20px;
}

.membership-plan2 h6 {
    color: #1C1C1C;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 20px;
}

.membership-plan h6 span {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    margin-top: 12px;
    color: #fff;
}

.membership-plan2 h6 span {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    margin-top: 12px;
    color: #1C1C1C;
}

.toggle-membership {
    font-size: 14px;
    line-height: 1;
    color: #D4D4D4;
    display: flex;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.toggle-membership .form-check.form-switch {
    margin: 0 10px 0 0;
    padding-left: 45px;
}

.form-switch .form-check-input {
    height: 24px;
    width: 42px;
}

.start-membership {
    font-size: 18px;
    line-height: 27px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    background: #FFFFC8;
    border: 1px solid #ffffc8;
    border-radius: 6px;
    padding: 15px 20px;
    display: block;
    width: 100%;
}

button.start-membershipp {
    font-size: 18px;
    line-height: 27px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    background: #FFFFC8;
    border-radius: 6px;
    padding: 15px 20px;
    display: block;
    margin-bottom: 16px;
    margin-left: 15%;
}

button.start-membershiIp {
    font-size: 18px;
    line-height: 27px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    background: #FFFFC8;
    border-radius: 6px;
    padding: 15px 20px;
    display: block;
    width: 100%;
}

button.start-membership {
    font-size: 18px;
    line-height: 27px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    border-radius: 6px;
    padding: 15px 20px;
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

.membership-plan a {
    font-size: 18px;
    line-height: 27px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #F2F2F2;
    display: block;
    text-align: center;
}

.membership-payment {
    width: 100%;
    max-width:60%;
    margin-left: 20%;
}

.membership-payment h1 {
    font-size: 52px;
    line-height: 92px;
    margin-bottom: 32px;
    text-align: center;
    font-weight: 700;
    color: #000;
}
/* 
.membership-payment span {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    display: block;
    font-family: 'Inter', sans-serif;
    margin-bottom: 60px;
} */


.membership-payment form label {
    float: left;
    color: #686868;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Inter', sans-serif;
}

.membership-field input {
    background: #F6F6F6;
    font-size: 20px !important;
    line-height: 24px !important;
    font-family: 'Inter', sans-serif !important;
    padding: 16px 16px !important;
    border-radius: 6px !important;
    border: none !important;
    margin-bottom: 32px !important;
}

.membership-field {
    position: relative;
    width: 100%;
}

.membership-field img {
    position: absolute;
    top: 48px;
    left: 17px;
}

input.f-img {
    padding-left: 48px !important;
    display: block;
    width: 100%;
}

.membership-field.m-half {
    width: calc(50% - 16px);
    font-family: 'Inter' , sans-serif;
}
/* 
.main-paypal{
    max-width:760px;
} */

.membership-payment form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button.m-payment {
    background: #fff;
    display: block;
    width: 100%;
    border-radius: 6px;
    color: #FFFFC8;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Inter', sans-serif;
    padding: 14px 20px;
    border: 1px solid #1C1C1C;
    color: #1C1C1C;
  
}

.master-card {
    display: flex;
    position: absolute;
    right: 16px;
    top: 48px;
}

.master-card a {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
}

.master-card a img {
    position: relative;
    top: 0;
    left: 0;
}

.devider-line {
    width: 100%;
    height: 1px;
    background: #c1c1c1;
    margin-bottom: 32px;
}

/*Background color*/

/*form styles*/
#msform {
    /* text-align: center; */
    position: relative;
    margin-top: 20px;
}
.form-label{
    font-family: 'Inter' , sans-serif;
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    /* box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2); */
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;

    /*stacking fieldsets above each other*/
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E;
}

#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0;
}

/*Blue Buttons*/
#msform .action-button {
    width: 100px;
    background: skyblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
}

/*Previous Buttons*/
#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
}

/*Dropdown List Exp Date*/
select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px;
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue;
}

/*The background card*/
.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
}

/*FieldSet headings*/
.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #000000;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
}

/*Icons in the ProgressBar*/
#progressbar #account:before {
    font-family: FontAwesome;
    content: "1";
    margin-left: 0;
    text-align:center;
    font-family: 'Inter' , sans-serif;
    padding-top:3px;

}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "2";
    margin-right: 0;
    text-align:center;
    font-family: 'Inter' , sans-serif;
    padding-top:3px;
}
.step-1{
    font-family: 'Inter' , sans-serif;
    font-weight: 500;
    font-size: 14px;
}
/*ProgressBar before any progress*/
#progressbar li:before {
    width: 56px;
    height: 56px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    /* background: rgb(5, 2, 2); */
    /* border-radius: 50%; */
    margin: 0 auto 10px auto;
    background-image: url('../images/Star_2.png');
    /* padding: 2px; */
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before,
#progressbar li.active:after {
    /* background: rgb(5, 2, 2); */
    background-image: url('../images/Star_1.png');
}

/*Imaged Radio Buttons*/
.radio-group {
    position: relative;
    margin-bottom: 25px;
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px;
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

/*Fit image in bootstrap div*/
.fit-image {
    width: 100%;
    object-fit: cover;
}

.headdd {
    display: flex;
    justify-content: center;
    color: #000;
    font-weight: bold;
    font-size: 40px;
}

.contentt {
    margin-top: 10%;
}

.rrr {
    background-color: #F6F6F6;
    height: 60px;
    border-radius: 8px !important;
    padding-left: 25px !important;
    padding-top: 7px !important;
    padding-right: 5% !important;
    background-image: url('./images/credit_card.svg');
    background-repeat: no-repeat;
    background-position: right center;
}
.glossyBtn {
    background-image: url('./images/credit_card.svg');
    background-repeat: no-repeat;
    background-position: left center;
}
@media only screen and (min-width:280px) and (max-width:768px){
    .membership-area {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer-link{
        display: grid;
        grid-gap:10px;
    }
    .membership-plan{
        margin-top:30px;
    }
    .membership-payment{
        max-width: 100%;
        margin:0;
    }
        /* .main-paypal{
            max-width:360px;
        } */
}
@media only screen and (min-width:769px) and (max-width:1250px){
    .membership-area {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .membership-plan, .membership-plan2{
        padding:20px
    }
}